:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.accordian{
  width: 30rem;
  margin: auto;
  color: white;
}

.title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  cursor: pointer;
}

.section{
  margin-bottom: 10px;
  background-color: orange;
  padding: 20px;
}

.amswer{
  font-size: 0.8rem;
}
